[default]
bin  = easycrypt
args = 

[test-core]
okdirs = Core

[test-dumb-defs]
okdirs = du_mb_bpriv/VotingDefinition
args   = -I Core

[test-dumb-selene]
okdirs = du_mb_bpriv/Selene
args   = -I Core -I du_mb_bpriv/VotingDefinition

[test-dumb-selene-with-signatures]
okdirs = du_mb_bpriv/Selene_with_signatures
args   = -I Core -I du_mb_bpriv/VotingDefinition

[test-dumb-belenios]
okdirs = du_mb_bpriv/Belenios_and_MiniVoting
args   = -I Core -I du_mb_bpriv/VotingDefinition

[test-mb-bpriv]
okdirs = mb_bpriv_original_def
args   = -I Core
